.idea

# Build and Release folders
bin/
bin-debug/
bin-release/
[Oo]bj/ #FlashDevelop obj
[Bb]in/#FlashDevelop bin

# Other files and folders
.settings/

# Executables 
*.swf
*.air
*ipa
*apk

# Hugo
public/
node_modules/
resources/

# Backup Files
